<html >
	<head>
		<title>Upload Succeeded!</title>
	</head>
	<body>
<p>
			<a href="https://object-dd1a.cloudandheat.com:8080/v1/AUTH_7b8c0c28a6ef49209f6696154e56f49e/rendered/{{ filename }}" download>download here the rendered file</a><br/>
			<img src="https://object-dd1a.cloudandheat.com:8080/v1/AUTH_7b8c0c28a6ef49209f6696154e56f49e/rendered/{{ filename }}" width="800px" height="480px">
</p>
	</body>
</html>
